.addBlogDivision{
    margin-top: 5vh;
    margin-left: 20vw;
}

.blogButton{
    margin-top: 3vh;
    margin-left: 42vw;
}


@media only screen and (max-width: 600px) {
    .blogButton{
        margin-top: 3vh;
        margin-left: 35vw;
    }
}

